body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #003554;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App {
  text-align: center;
  padding: 20px;
  max-width: 800px;
  width: 90%;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: calc(100vh - 40px);
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task-category {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.task-category h2 {
  margin-top: 0;
  font-size: 22px;
  color: #333;
  margin-bottom: 15px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.task-item.completed {
  text-decoration: line-through;
  color: grey;
}

.task-item:hover {
  background-color: #f1f1f1;
}

.task-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="checkbox"] {
  display: none;
}

.check-container {
  cursor: pointer;
  position: relative;
}

.check-container svg {
  overflow: visible;
}

.check-container svg .path {
  fill: none;
  stroke: rgb(12, 6, 45);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.check-container input:checked + svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
  stroke: rgb(5, 219, 19);
}

.task-name {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.task-item.completed .task-name {
  color: #888;
}

.task-details {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}

.task-due-date {
  font-size: 20px;
  margin: 10px;
  padding: 7px;
  border-radius: 8px;
}

.task-title {
  color: #000000;
  font-size: 22px;
}

.task-title-edit {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 18px;
  resize: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.task {
  display: flex;
  flex-wrap: wrap;
}

.task-due-date.overdue {
  background-color: rgba(252, 28, 8, 0.221);
}

.task-due-date.ontime {
  background-color: rgba(5, 219, 19, 0.221);
}

.task-text-duo-date {
  display: flex;
  flex-direction: column;
}

.task-description {
  border-radius: 4px;
  padding: 2px 6px;
  color: #404040;
  font-size: 18px;
  max-height: 80%;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.task-description-edit {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 18px;
  resize: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

button {
  background-color: #003554;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

button:hover {
  background-color: #00a6fb;
}

.add-task,
.add-category {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-filter {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.task-filter:hover {
  border-color: #bbb;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

input[type="text"],
textarea,
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus,
input[type="date"]:focus,
select:focus {
  border-color: #00a6fb;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

textarea.error,
input.error {
  border-color: red;
}

.error {
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 14px;
}

@media (max-width: 650px) {
  body {
    overflow-y: auto; /* Enable vertical scrolling on smaller screens */
  }
  ul {
    padding: 0%;
  }
  .task-details {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .task-text-duo-date {
    margin-top: 0px;
  }

  .task-text-duo-date {
    display: flex;
    flex-direction: column;
  }
}
.modal input[type="text"],
.modal textarea,
.modal input[type="date"],
.modal select {
  margin-bottom: 15px;
}

.task-category ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-category li {
  margin-bottom: 10px;
}
